<!DOCTYPE html>
<html>
<head>
	<title>TestForm</title>
</head>
<body>
    
    <form method="POST" action"/test">
        
        <input type="text" name="food" placeholder="Food" />
        <input type="submit" />
    </form>

</body>
</html>